
.card .align img{
    border-radius: 100%;
    width:12rem;
    border:solid white;  
    margin:2rem 2rem 0 2rem;  
}
h1{
    font-family: 'Ribeye Marrow', cursive;
    text-align: center;
    font-size: 4.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
input{
    font-size: 1.2rem;
    padding:0.7rem;
    border-radius: 10px; 
    font-family: inherit; 
    border:black;
    width:15rem;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);
    margin-top: 10rem;
}


.follow-stats{
 display: flex;
 justify-content:space-evenly;
 font-size: 1rem;
 flex-flow: column wrap;
}
.content{
    padding: 1rem;
}
p{
    font-size:1.2rem;
    font-weight:normal;
}

.align{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;
}
h3{
    margin: 0;
    margin-top: 2rem;
}
b {
    margin-left: 0.5rem;
}
h5{
    margin: 0;
}
.orgs{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}
.org span{
    margin:0;
    font-size:0.8rem;
    width: 70px;  
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
     
}
.org{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.org img{
    width: 60px;
    border-radius: 100%;
    
}
#main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* display:inline-block;
    font-size :0.9rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 75px; */
    #form{
        text-align: center;
        display: grid;
        margin-top: -10rem;
        justify-items: center;
        justify-content: center;
        
    }
    .info-container{
        padding: 1rem 2rem 1rem 0rem;
    }
    button{
        background-color: #292C6D;
        border-radius: 7px;
        font-size: 1rem;
        padding: 0.5rem;
        border:none;
        color: white;
        font-family: inherit;
        box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);
        margin-top: 1rem;
        cursor: pointer;
        
    }
    button:hover{
        background-color: #fff;
        color: black;
    }
    .responsive{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    

    @media (max-width: 991px){
        .orgs{
            display: flex;
            flex-flow: row wrap;
            margin-top: 1rem;
            align-items: center;
            align-content: center;
            justify-content: space-evenly;
        }
        h5 ,h3 ,p{
            
            text-align: center;
        }
        .info-container{
            padding: 1rem;
            margin-top: -4rem;
        }
        
      }