.card{
  background-color: #292C6D;
  border-radius:7px;
  width:45rem;
  display: flex;
  margin:2rem;
  box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);
}
@media (max-width: 991px){
  .card{
      width: auto;
      flex-direction: column;
  }
}